<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.projeto" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Aula1</name>
    <description>
        Exercício da primeira aulas de PhoneGap
    </description>
    <author email="andrecardosodev@gmail.com" href="http://andrebian.com">
        Andre Cardoso
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
